@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply cursor-custom;
    background: #0f172a;
    overflow: hidden;
    font-family: sans-serif;
  }
}

/* a,
a:hover {
  cursor: url("/cursor.png"), auto;
}

button,
input,
select,
textarea {
  cursor: url("/cursor.png"), auto;
} */

button {
  cursor: inherit;
}

.click-effect {
  position: fixed;
  top: -15px;
  left: -15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #ffffff40;
  pointer-events: none;
  animation: mouse-effect 0.3s forwards ease-out;
  z-index: 1000;
}

@keyframes mouse-effect {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(2);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.gamecard {
  background: linear-gradient(
    235deg,
    #e6be19 0%,
    #b3e888 39.73%,
    #e5c010 69.31%,
    #af6f01 100%
  );
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
}

.gamecard::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background: conic-gradient(
    from -45deg at 50% 50%,
    #2ffaff 0deg,
    rgba(230, 190, 25, 0) 36.310283839702606deg,
    rgba(230, 190, 25, 0) 143.74402284622192deg,
    #2ffaff 180deg,
    rgba(230, 190, 25, 0) 217.69761085510254deg,
    rgba(230, 190, 25, 0) 324.59312438964844deg
  );
  animation: rotate 2s linear infinite;
  filter: blur(1.5px);
}

.gamecard::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: linear-gradient(
    235deg,
    #e6be19 0%,
    #b3e888 39.73%,
    #e5c010 69.31%,
    #af6f01 100%
  );
  border-radius: 5px;
  z-index: -1;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.animate-popup {
  animation: popup 0.3s ease-in;
}
input:focus::placeholder {
  opacity: 0;
}
/* 
.animated {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
  overflow: hidden;
}
.wrapper div {
  position: absolute;
  filter: blur(50px);
  opacity: 0.8;
  -webkit-filter: blur(50px);
}
.animated .one {
  border-radius: 100%;
  width: 50%;
  height: 80%;
  background-color: #b886e950;
  left: 30%;
  top: 10%;
  z-index: 3;
  animation: fly 12s linear infinite;
  transform: rotate(0) translate(80px) rotate(0);
}
.animated .two {
  width: 50%;
  height: 70%;
  background-color: #639a9176;
  bottom: -10%;
  left: 0;
  animation: flyPlus 15s linear infinite;
} */
.animated .three {
  /* border-radius: 100%;
  width: 50%;
  height: 70%;
  bottom: 20%;
  right: -20%;
  background-color: #ffca577c;
  animation: fly 15s linear infinite;
  -webkit-animation: flyPlus 10s linear infinite;
  transform: rotate(0) translate(200px) rotate(0);
  -webkit-transform: rotate(0) translate(200px) rotate(0);
  -moz-transform: rotate(0) translate(200px) rotate(0);
  -ms-transform: rotate(0) translate(200px) rotate(0);
  -o-transform: rotate(0) translate(200px) rotate(0); */
}
/* .four {
  border-radius: 100%;
  width: 50%;
  height: 60%;
  margin: auto;
  bottom: -30%;
  right: 0;
  background-color: #61b1d163;
  animation: fly 15s linear infinite;
  -webkit-animation: flyPlus 15s linear infinite;
  transform: rotate(0) translate(200px) rotate(0);
  -webkit-transform: rotate(0) translate(200px) rotate(0);
  -moz-transform: rotate(0) translate(200px) rotate(0);
  -ms-transform: rotate(0) translate(200px) rotate(0);
  -o-transform: rotate(0) translate(200px) rotate(0);
}
@keyframes fly {
  100% {
    transform: rotate(2turn) translate(200px) rotate(-2turn);
    -webkit-transform: rotate(2turn) translate(200px) rotate(-2turn);
    -moz-transform: rotate(2turn) translate(200px) rotate(-2turn);
    -ms-transform: rotate(2turn) translate(200px) rotate(-2turn);
    -o-transform: rotate(2turn) translate(200px) rotate(-2turn);
  }
}
@keyframes flyPlus {
  100% {
    transform: rotate(-2turn) translate(200px) rotate(2turn);
    -webkit-transform: rotate(-2turn) translate(200px) rotate(2turn);
    -moz-transform: rotate(-2turn) translate(200px) rotate(2turn);
    -ms-transform: rotate(-2turn) translate(200px) rotate(2turn);
    -o-transform: rotate(-2turn) translate(200px) rotate(2turn);
  }
} */

.spin-loader {
  svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
  }

  circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    strokewidth: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
  }
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure the container positions elements relative to itself */
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
  height: 8px;
  background: linear-gradient(180deg, #6e33c3 0%, #4417ac 100%);
  position: relative;
  z-index: 1; /* Ensure the slider is above the outline pseudo-element */
}

.slider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 14px; /* Adjust based on the required outline thickness */
  background: linear-gradient(180deg, #6e33c3 0%, #4417ac 100%);
  outline: 3px solid #053a5f; /* Outline style */
  border-radius: 7px; /* Ensure the outline has rounded edges */
  transform: translateY(-50%); /* Center the outline vertically */
  z-index: -1; /* Ensure the outline is behind the slider */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: url("/music.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  border: none;

  position: relative;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: url("/music.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  border: none;
  position: relative;
}

.modal-title {
  font-weight: 700;
  /* font-size: 75.0257px;
  line-height: 90px;
  letter-spacing: 0.11em; */
  text-transform: uppercase;

  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffe600 50.05%,
    #ce3313 83.77%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-strokewidth: 1px;
  -webkit-text-stroke-color: #f86e02;
}

@property --blink-opacity {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@keyframes blink-animation {
  0%,
  100% {
    opacity: var(--blink-opacity, 1);
  }
  50% {
    opacity: 0;
  }
}

@keyframes smoothBg {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

:root {
  font-family: Inter, sans-serif;

  --stripe-color: #fff;
  --bg: var(--stripe-color);
  --maincolor: var(--bg);
}

.wave-bg {
  --stripes: repeating-linear-gradient(
    100deg,
    #fff 0%,
    #fff 7%,
    transparent 10%,
    transparent 12%,
    #fff 16%
  );

  --rainbow: repeating-linear-gradient(
    100deg,
    #60a5fae1 10%,
    #e879f9b9 15%,
    #60a5faa9 20%,
    #5eead5be 25%,
    #60a5fabb 30%
  );

  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;

  filter: blur(5px) invert(20%);

  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: smoothBg 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
  }
}
